<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidateControllerServlet</servlet-name>
        <servlet-class>modulecatalog.controller.ValidateControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>modulecatalog.controller.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarksUploadServlet</servlet-name>
        <servlet-class>modulecatalog.controller.MarksUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResultServlet</servlet-name>
        <servlet-class>modulecatalog.controller.ViewResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMarksServlet</servlet-name>
        <servlet-class>modulecatalog.controller.EditMarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownload</servlet-name>
        <servlet-class>modulecatalog.controller.FileDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadCalendar</servlet-name>
        <servlet-class>modulecatalog.controller.DownloadCalendar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotControllerServlet</servlet-name>
        <servlet-class>modulecatalog.controller.ForgotControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotControllerServlet</servlet-name>
        <url-pattern>/ForgotControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateControllerServlet</servlet-name>
        <url-pattern>/ValidateControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarksUploadServlet</servlet-name>
        <url-pattern>/MarksUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResultServlet</servlet-name>
        <url-pattern>/ViewResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMarksServlet</servlet-name>
        <url-pattern>/EditMarksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownload</servlet-name>
        <url-pattern>/FileDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadCalendar</servlet-name>
        <url-pattern>/DownloadCalendar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
